/* Affiliates Page */

.affiliates1 {
    height:250px;
    margin-bottom: 25px; !important;
    padding-top:60px;
}

.affiliates {
    height:300px;
    margin-bottom: 25px; !important;
}

.aff-descrip {
    height:80px;
    font-size: 20px;
    color:white;
}

.title-container {
    font-size: 38px;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-top:17px;
    padding-bottom:10px;
    background-color: #0E735D;
    font-weight: bold;
    color: #EAEFF2;
}

.aff-content1 {
    padding-left: 0px !important;
    text-align: center;
}

.meal{}