      .slideout-menu { left: auto; }
      .btn-hamburger { left: auto; right: 12px;}
      .box { height: 1500px; }
        
        
        .fixPosition {
            
            position: absolute;
            bottom: 0px;
               
        }
        
html, body {
    
    height: 100%;
    margin: 0;
    
        }


#length {
    
    min-height: 100%;
    
}
        
        .click {
            
                border-radius: 15px;
    /* border: 2px solid #73AD21; */
            padding: 2px;
            
            
        }
   
        
        #removeButton { 
            
            width: 50%;
            height: 50px;
            position: fixed;
            bottom: 0; 
            color: #EAEFF2;
        background-color: #0E735D;
        font-weight: bold;
        font-size: 20px;
            border-right-color: #eaeff2;
            border-right-style: solid;
            border-right-width: 1px;
            border-left: none;
            border-top: none;
            border-bottom: none;
    -webkit-appearance: none;
            
        }


    #recipeButton { 
            
            width: 50%;
            height: 50px;
            position: fixed;
            bottom: 0; 
        right: 0px;
            color: #EAEFF2;
        background-color: #0E735D;
        font-weight: bold;
        font-size: 20px;
             border-left-color: #eaeff2;
            border-left-style: solid;
            border-left-width: 1px;
            border-right: none;
            border-top: none;
            border-bottom: none;
    -webkit-appearance: none;
            
        }



ul {
    
   list-style-type: none;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    padding-left: 0px;
    
}

        
        .food {
    padding: 15px 0 0 0;
    margin: auto;
}

.shelf {
    
    border-bottom: 30px solid #A1A194;
    border-left:  = 20px solid transparent;
    border-right: = 20px solid transparent;
    z-index:-1;
    position: relative;
    top : -15px;
    
}