/* Fridge CSS */
      
#addMe { 
    height: 50px;
    color: #444;
    background-color: #EAEFF2;
    font-weight: bold;
    font-size: 20px;  
    position: fixed;
    
}   

html, body {
    
    height: 100%;
    margin: 0;
    
}

button {
    
       border: 0;
    background: none;
    -webkit-appearance: none;
    
}

#length {
    min-height: 100%;
}




        
.click {
    border-radius: 25px;
    border: 2px solid #eaeff2;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px; 
    margin-top: 5px;
    height: 70px;
    width: 70px;
            
}        
      
button.input.accordion {      
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

        
button.input.accordion.active, button.input.accordion:hover {
    background-color: #ddd; 
}        
        
button.accordion {
    background-color: #0e735d;
    color: #eaeff2;
    cursor: pointer;
    padding: 23px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid #eaeff2;
    
}




button.accordion:active {
    background-color: greenyellow;
}
        
button.accordion:hover {
    background-color: #eaeff2;
    color: #0e735d;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: #A1A194;
}

.item-holder{height:130px;
    border:1px solid;   
}

.item-box{height:100px;
margin-top:15px;
overflow:auto;
border:1px solid;}

.add-fridge{margin-top:50px;
height:40px;

}

.search-recipe{
    height: 40px;
}

.recipe-button{
    height:40px;
    margin-bottom: 5px !important;
}

.icon-move{
    text-align:right;
}


.food-holder{
    height:40px;
    background-color: #A1A194;
    font-size: 20px;
    color: #eaeff2;
    padding: 0px !important;
    width: 100%;
}

.something {
    
    padding: 0px !important;
    width: 100%;
    
}

.food-holder{
    

    padding-top:5px;
    padding-bottom:5px;    
    height:40px;



}

.input-holder{
    right: 0;
    display:inline;
}

.food-amount{
    width:30px;
    margin-right:5px;
}

.food-expiry{ width:30px;
    
}

.food-name{
    padding-left:0 !important;
}
