.user-icon {
    text-align: right;
    padding-top:8px;
}

.navbar {
    background-color:#8CC63F;
    margin-bottom: 0 !important;
}

.menu-container { 
    font-size:30px;
    color:white;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background:#FFF !important; 
    color:#000 !important;
}

.dropdown {padding-top:5px;}

.slideout-menu { 
    left: auto; 
}

.btn-hamburger { 
    left: auto; 
    right: 10px; 
}

.box {height: 1500px;}