
/* About us css */

.header-container {
background-color: #434247;
margin-top:14px;
padding-bottom: 0px;
    color: #EAEFF2;
    
    
}

h1 {text-align: center;
    font-weight: bold;
    
}

.header1-container {
    height:50px;
    text-align: center;
    background-color: #0E735D;
    color: #eaeff2;
}
.aboutus-para {
    padding-top:10px;
    text-align: center;
    background-color: #A1A194;
    color: black;
    font-size: 18px;
    border-radius:10px;
    
}

.header11-container {
    height:50px;
    text-align: center;
    font-size: 28px;
    background-color: #0E735D;
    color: #eaeff2;
    padding-top:12px;
    
}

hr {
    background-color: #EAEFF2
}

.hide-link{
    text-decoration: none;
    color:black;
}
