

/*Contact Us */

.affiliates {
    height:150px;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
   
}

.border {
    margin-top: 50px;
    display: block;
}

.groupphoto {
    margin-top: 40px;
    height:80px;
}

.title-container {
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    background-color: #434247;
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
    color: #EAEFF2;
}

.container2 {
    
    padding-left: 0;
    padding-right: 0;
    
}

.affiliates {
    height:150px;
    margin-bottom: 25px; !important;
    padding-top:40px;
    background-color: #A1A194;
    /* border: 2px solid #0E735D; */
}


.affiliates1 {
    height:150px;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
   
}

.affiliates1 {
    height:150px;
    margin-bottom: 25px; !important;
    padding-top:40px;
    background-color: #0E735D;
    color: #eaeff2;
    /* border: 2px solid #0E735D; */
}

.aff-descrip {
    text-align: center;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.aff-image {
    float: left !important;
}
.something{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.something img {
    margin-left: auto;
    float: left;
}
.something p {
    width: 200px;
    margin-left: 30px;
}